html body {
    font-family: 'Montserrat', sans-serif !important;
    margin: 0;
    padding: 0;
    background: #fafafb;
    height: 100%;
}

#root {
    height: 100%;
}

body a:hover {
    text-decoration: none;
}

.App {
    text-align: left;
}

th {
    text-transform: capitalize !important;
}

.exp-main-fluid {
    padding: 25px 0;
    margin-top: 65px;
}

.exp-build-calc-row {
    margin-bottom: 30px;
}

.exp-build-calc-row .exp-text-area-row .ant-input {
    background: #fbfdff;
    height: 130px;
    border: 1px solid #f1faff;
    padding: 8px 15px;
    font-size: 15px;
    margin-bottom: 10px;
}

.exp-build-calc-row .exp-text-area-row .small-editor-textarea .ant-input {
    height: 108px;
    overflow: auto;
    background: #fff7ff;
    border: 1px solid #ffddff;
    padding-bottom: 30px;
    font-size: 14px;
}

.small-editor-textarea .ant-btn {
    font-size: 11px;
    padding: 4px 10px;
    background: #ffdcff;
    border-color: #ffc0ff;
    color: #000000;
    position: absolute;
    bottom: 15px;
    right: 25px;
    height: auto;
    z-index: 99;
}

.exp-build-calc-row .exp-text-area-row .ant-input::-webkit-input-placeholder, .exp-text-area-row-description .ant-input::-webkit-input-placeholder {
    color: #42556D;
}

.exp-all-btn-calc {
    margin-top: 10px;
}

.exp-all-btn-calc .ant-btn {
    background: #ffffff;
    border: 1px solid #e5e6e9;
    color: #000000;
    font-size: 20px;
    border-radius: 5px;
    height: 60px;
    width: 72px;
    margin: 0 6px 5px 0;
    padding: 0;
    flex-flow: column;
}

.exp-all-btn-calc .ant-btn.variables-btn-main {
    height: 125px;
    width: auto;
    padding: 30px;
}

.exp-all-btn-calc .ant-btn:hover, .exp-all-btn-calc .ant-btn.active {
    background: #e5e5e5;
    color: #3b7fc4;
    border-color: #e5e5e5;
}

.exp-all-btn-calc .ant-btn.active {
    transform: translateY(-4px) scale(1.04);
}

.exp-all-btn-calc .ant-btn aside {
    color: #666666;
    font-size: 9px;
    font-weight: 600;
    width: 100%;
    display: inline-block;
    transition: 0.3s ease all;
}

.exp-all-btn-calc .ant-btn:hover aside, .exp-all-btn-calc .ant-btn.active aside {
    color: #3b7fc4;
}

.exp-right-data-row, .exp-accordion-row {
    max-height: 390px;
    overflow: auto;
}

.exp-right-data-row {
    background: #eff6fd;
    padding: 10px 0;
}

.exp-right-data-row ul li .ant-btn {
    color: #42556D;
    font-weight: 600;
    font-size: 14px;
    padding: 1px 10px;
    margin: 1px 0;
    background: transparent;
}

.exp-right-data-row ul li .ant-btn.selected {
    background: #1890ff;
    color: #ffffff;
}

.exp-accordion-row {
    margin-bottom: 15px;
    padding: 10px;
}

.exp-accordion-row .ant-collapse, .exp-accordion-row .ant-collapse .ant-collapse-item {
    border: 0;
    background: transparent;
}

.exp-accordion-row .ant-collapse .ant-collapse-item {
    margin-bottom: 5px;
}

.exp-accordion-row .ant-collapse .ant-collapse-item .ant-collapse-header {
    background: #f7f9fb;
    font-weight: 600;
    font-size: 14px;
    padding: 6px 30px 6px 8px;
}

.exp-accordion-row .ant-collapse .ant-collapse-item.ant-collapse-item-active .ant-collapse-header {
    background: #f0f6fb;
}

.exp-accordion-row .ant-collapse .ant-collapse-content {
    border: 0;
}

.exp-accordion-row .ant-collapse .ant-collapse-content-box {
    padding: 5px;
}

.exp-accordion-row .ant-collapse .ant-collapse-content-box ul li .ant-btn {
    font-size: 13px;
    width: 100%;
    font-weight: 500;
    background: transparent;
    color: #42556D;
    padding: 0 15px;
}

.exp-accordion-row .ant-collapse .ant-collapse-content-box ul li .ant-btn.selected, .exp-accordion-row .ant-collapse .ant-collapse-content-box ul li .ant-btn:hover {
    background: #f5f8fb;
    color: #42556D;
}

.exp-accordion-row .ant-collapse .ant-collapse-content-box ul li img {
    height: 20px;
    margin-right: 10px;
}

.exp-accordion-row::-webkit-scrollbar,
.exp-right-data-row::-webkit-scrollbar {
    width: 5px;
    background: #f1f1f1;
}

.exp-accordion-row::-webkit-scrollbar-thumb,
.exp-right-data-row::-webkit-scrollbar-thumb {
    background: #666666;
    border-radius: 50px;
}

.exp-text-area-row-description {
    margin: 15px 0;
}

.exp-text-area-row-description .ant-input {
    height: 100px;
    border: 1px solid #C6C6C8;
    padding: 8px 15px;
    font-size: 16px;
}

.exp-accordion-row .ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
    left: auto;
    right: 15px;
}

.exp-header-accordion .exp-icon-img {
    width: 30px;
    margin-right: 10px;
    float: left;
}

.exp-header-accordion .exp-icon-img img {
    max-height: 25px;
}

.exp-header-accordion span {
    width: calc(100% - 35px);
    float: right;
}

.add-eq-div {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.exp-function-row {
    background: #ffffff;
    padding: 8px;
    border: 1px solid #e9e9e9;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.09)
}

.ant-tooltip.tol-tip-main-div {
    max-width: 400px;
}

.ant-tooltip.tol-tip-main-div .ant-tooltip-inner {
    padding: 0;
}

.ant-tooltip.tol-tip-main-div .toltip-design-hover aside {
    color: #555555;
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    padding: 10px;
}

.ant-tooltip.tol-tip-main-div .toltip-design-hover span {
    display: block;
    background: #eff6fdb8;
    color: #000000;
    padding: 3px 15px;
    font-size: 13px;
    font-weight: 500;
}

.sidebar-main-fixed {
    left: 0;
    top: 0;
    z-index: 99;
    background: #ffffff;
    height: 100%;
    width: 237px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.06);
    overflow: auto;
    border-right: 1px solid #e9e9e9;
    transition: 0.3s ease all
}

.logo-row-main {
    padding: 20px 0;
    height: 64px;
    background: #3b7fc4;
}

.logo-row-main a {
    color: #ffffff;
    font-size: 16px;
}

.nav-links-row-main {
    padding: 3px 0;
}

.nav-links-row-main .ant-collapse {
    border: 0;
    background: #ffffff;
}

.nav-links-row-main .ant-collapse .ant-collapse-item {
    border-bottom: 0;
    margin: 8px 0;
}

.nav-links-row-main .ant-collapse .ant-collapse-item .ant-collapse-header, .nav-links-row-main ul li a {
    padding: 10px 40px 10px 15px;
    background: #ffffff;
    font-size: 14px;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #42556D;
    font-weight: 500;
}

.nav-links-row-main .ant-collapse .ant-collapse-item.ant-collapse-item-active .ant-collapse-header,
.nav-links-row-main .ant-collapse .ant-collapse-item .ant-collapse-header:hover,
.nav-links-row-main ul li a.active, .nav-links-row-main ul li a:hover {
    background: #f5f8fb;
}

.nav-links-row-main .ant-collapse .ant-collapse-item .ant-collapse-header .ant-collapse-arrow {
    right: 15px;
    left: auto;
    transform: rotate(90deg);
    top: 16px;
    color: #c5c5c5;
}

.nav-links-row-main .ant-collapse .ant-collapse-item.ant-collapse-item-active .ant-collapse-header .ant-collapse-arrow {
    transform: rotate(180deg);
}

.nav-links-row-main .ant-collapse .ant-collapse-item .ant-collapse-content {
    border: 0;
}

.nav-links-row-main .ant-collapse .ant-collapse-item .ant-collapse-content.ant-collapse-content-active {
    background: #f5f8fb;
}

.nav-links-row-main .ant-collapse .ant-collapse-item .ant-collapse-content .ant-collapse-content-box {
    padding: 6px 15px 3px;
}

.nav-links-row-main .ant-collapse .ant-collapse-item .ant-collapse-content .ant-collapse-content-box ul li a {
    background: #f5f8fb;
    color: #42556D;
    padding: 6px 10px;
    font-size: 13px;
    transition: 0.4s ease all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;
}

.nav-links-row-main .ant-collapse .ant-collapse-item .ant-collapse-content .ant-collapse-content-box ul li a:hover,
.nav-links-row-main .ant-collapse .ant-collapse-item .ant-collapse-content .ant-collapse-content-box ul li a.active {
    background: #e7f4ff;
}

.main-header-div {
    top: 0;
    right: 0;
    background: #3b7fc4;
    height: 65px;
    width: calc(100% - 237px);
    box-shadow: 6px 0 6px 0 rgba(0, 0, 0, 0.06);
    z-index: 999;
    padding: 0 30px;
    transition: 0.3s ease all;
}

.search-bar-main {
    width: 300px;
}

.search-bar-main .ant-input-affix-wrapper {
    border-radius: 25px;
    height: 38px;
    padding: 5px 15px;
    border: 1px solid #e5e6e9;
}

.search-bar-main .ant-input-affix-wrapper.ant-input-search:not(.ant-input-search-enter-button) {
    padding-right: 5px;
}

.search-bar-main .ant-input-affix-wrapper .ant-input {
    font-weight: 400;
    font-size: 13px;
    color: #42556D;
}

.search-bar-main .ant-input-affix-wrapper .ant-input::-webkit-input-placeholder, .search-bar-main .ant-input-affix-wrapper .ant-input-suffix .ant-input-search-icon {
    color: #42556D;
}

.search-bar-main .ant-input-affix-wrapper .ant-input-suffix {
    font-size: 18px;
}

.search-bar-main .ant-input-affix-wrapper .ant-input-suffix .ant-input-search-icon::before {
    display: none;
}

.user-icon-main .ant-dropdown-link {
    background: #285f96;
    color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    letter-spacing: 1px;
}

.ant-modal.main-modal-div {
    width: 75% !important;
    top: 30px;
}

.ant-modal.main-modal-div .ant-modal-close {
    background: #e3eef9;
    top: 10px;
    margin: auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    right: 15px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.06);
}

.ant-modal.main-modal-div .ant-modal-close:focus, .ant-modal.main-modal-div .ant-modal-close:hover {
    outline: 0;
}

.ant-modal.main-modal-div .ant-modal-close .ant-modal-close-x {
    width: 100%;
    height: 100%;
    font-size: 17px;
    line-height: 28px;
    color: #42556D;
}

.ant-modal.main-modal-div .ant-modal-content {
    background: #ffffff;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05);
    border-radius: 4px;
}

.ant-modal.main-modal-div .ant-modal-header {
    color: #42556D;
    background: #eff6fd;
    padding: 18px 40px;
    border: 0;
}

.ant-modal.main-modal-div .ant-modal-header .ant-modal-title {
    font-weight: 600;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.ant-modal.main-modal-div .ant-modal-body {
    padding: 30px 15px;
    max-height: 500px;
    overflow: auto;
}

.ant-modal.main-modal-div .ant-modal-footer {
    padding: 20px 35px;
}

.ant-modal.main-modal-div .ant-modal-footer .ant-btn {
    height: 45px;
    background: #FFFFFF;
    border: 1px solid #AEAEAE;
    font-size: 15px;
    color: #AEAEAE;
    margin-left: 10PX;
    width: auto;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: none;
    text-transform: uppercase;
}

.ant-modal.main-modal-div .ant-modal-footer .ant-btn:hover {
    background: #AEAEAE;
    color: #ffffff;
    border-color: #AEAEAE;
}

.ant-modal.main-modal-div .ant-modal-footer .ant-btn.ant-btn-primary {
    background: #3b7fc4;
    color: #ffffff;
    border-color: #3b7fc4;
}

.mq-editable-field, .mq-math-mode .mq-editable-field {
    border-color: #e5e5e5;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    width: 8px;
    height: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #AAA;
}

.variable-modal.ant-modal {
    width: 50% !important;
}

.right-container {
    height: 100%;
    padding: 0px 20px;
}

.wid-15 {
    width: 5% !important;
}

.wid-30 {
    width: 30% !important;
}

.wid-65 {
    width: 65% !important;
}

.wid-60 {
    width: 60% !important;
}

.home-tabs label {
    width: 33%;
    font-size: 11px;
}

.ant-tabs-tab {
    font-size: 13px !important;
}

.home-actions-container ul {
    list-style: none;
    padding-left: 10px;
    display: inline-block;
}

.home-actions-container {
    padding: 0px 10px;
    border-bottom: 1px solid #eeeded;
}

.dashboard-container {
    margin-left: 237px;
    width: calc(100% - 237px);
    transition: 0.3s ease all;
}

.home-actions-container li {
    display: inline-block;
    width: auto;
    border-right: 1px solid #ccc;
    padding: 0px 10px;
}

.home-actions-container li:last-child {
    border-right: 0px;
}

.home-actions-container label {
    float: right;
    color: #95ac5c;
}

.ant-form-item {
    width: auto;
    display: inline-block !important;
    width: auto;
    margin-right: 20px !important;
}

.dahboard-filters {
    display: flex;
    align-items: center;
}

.dahboard-filters .ant-form-item-label {
    display: block;
    text-align: left;
}

.ant-form-item-label label {
    margin: 0px;
    font-size: 13px !important;
}

.dahboard-filters .ant-form-horizontal {
    padding: 0px 20px;
    width: auto !important;
    display: inline-block;
}

.ant-menu-item:hover {
    background: #f6f5f5;
}

.ant-menu-item, .ant-menu-submenu {
    padding: 10px 10px 10px 20px !important;
    background: #ffffff;
    font-size: 14px;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #42556D;
    font-weight: 500;
    line-height: 0;
    display: flex !important;
    align-items: center;
    margin: 0px !important;
    border-bottom: 1px solid #ffe9e9;
}

.ant-menu-submenu-title {
    padding: 0px !important;
    line-height: 0 !important;
    display: flex;
    align-items: center;
    margin: 0;
    height: 20px !important;
}

.ant-menu-submenu-arrow::before, .ant-menu-submenu-arrow::after {
    background: #ccc !important;
}

.ant-menu-item-selected {
    color: #3b7fc4 !important;
    background: #f6f5f5 !important;
}

.ant-menu-item-selected::after {
    border-color: #3b7fc4 !important;
}

.create-form .ant-picker {
    width: 100%;
}

.create-form .ant-row {
    width: 21%;
}

.login-div {
    width: 40%;
    margin: auto;
    background: #ffffff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.08);
    padding: 30px;
}

.login-div .ant-form-item {
    width: 100%;
}

.login-fluid {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-container {
    overflow: auto;
}

.card {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.09);
    border: none;
}

.card p span {
    color: #777777;
    margin-right: 5px;
}

.card p {
    font-size: 14px;
    font-weight: 600;
}

.add-attr-btn {
    margin-top: 30px;
}

.attribute-form .ant-form-item {
    width: 60%;
}

.attached-list {
    list-style: none;
    padding-left: 0;
}

.attached-list li {
    margin: 5px 0;
    background: #f9f9f9;
    padding: 5px 12px;
    border: 1px solid #e5e5e5;
}

.entity-form .ant-form-item {
    width: 28%;
    margin-bottom: 0;
}

.entity-card h5 {
    margin-top: 20px;
}

.entity-card ul {
    list-style: none;
    background: #f9f9f9;
    padding: 7px 15px;
    border: 1px solid #e5e5e5;
}

.entity-card li {
    display: inline-block;
    width: 20%;
    font-size: 14px;
    padding: 0 5px;
}

.entity-card li span {
    display: inline-block;
    min-width: 20%;
    font-weight: 600;
}

.ant-tabs-tab-btn {
    font-size: 18px;
}

.ant-upload {
    color: #fff !important;
}

.ant-card-bordered {
    height: 100%;
}

.ant-tag {
    font-size: 17px !important;
    padding: 10px !important;
}

.ant-btn.toggle-btn, .ant-btn.toggle-btn:hover, .ant-btn.toggle-btn:focus {
    right: 10px;
    top: 0;
    line-height: 10px;
    bottom: 0;
    margin: auto;
    color: white;
    font-size: 25px;
}

.small-sidebar .sidebar-main-fixed {
    width: 55px;
}

.small-sidebar .main-header-div {
    width: calc(100% - 55px);
}

.small-sidebar .dashboard-container {
    width: calc(100% - 55px);
    margin-left: 55px;
}

.small-sidebar .ant-menu-item .ant-menu-item-icon + span, .small-sidebar .logo-row-main a {
    display: none;
}

.ant-menu-item .anticon {
    font-size: 18px !important;
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td, .ant-table tfoot > tr > th, .ant-table tfoot > tr > td {
    padding: 9px 9px;
    text-align: center;
}

.right-align {
    text-align: end;
}

.left-align {
    text-align: start;
}
  
.editable-cell-value-wrap {
    padding: 0px 12px;
    cursor: pointer;
  }

.numShow{
    display: flex;
    height: 2em;
    /* flex: 1; */
    background-color: #fff;
    outline: 1px solid #888;
    color: #000;
    justify-content: flex-end;
    padding: 0.5em;
    font-weight: bold;
    font-size: 1.4em;
    align-items: center;
}
.flex-align-center {
    display: flex;
    align-items: center
}
.table-cursor tr {
    cursor: pointer;
}